.container {
  background-color: var(--bgSoft);
  padding: 1.25rem;
  border-radius: 0.625rem;
  margin-top: 1.25rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  padding: 0.625rem;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.table {
  width: 100%;
}

.table td {
  padding: 0.625rem;
}

.product {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.productImage {
  border-radius: 50%;
  object-fit: cover;
}

.buttons {
  display: flex;
  gap: 0.625rem;
}

.button {
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.view {
  background-color: teal;
}

.delete {
  background-color: crimson;
}
