.container {
  background-color: var(--bgSoft);
  padding: 1.25rem;
  border-radius: 0.625rem;
}

.title {
  margin-bottom: 1.25rem;
  font-weight: 200;
  color: var(--textSoft);
}

.table {
  width: 100%;
}

.table td {
  padding: 0.625rem;
}

.user {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.status {
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  font-size: 0.875rem;
  color: white;
}

.pending {
  background-color: #f7cb7375;
}

.done {
  background-color: #afd6ee75;
}

.cancelled {
  background-color: #f7737375;
}
