.container {
  background-color: var(--bgSoft);
  padding: 1.25rem;
  border-radius: 0.625rem;
  display: flex;
  gap: 1.25rem;
  cursor: pointer;
  width: 100%;
}

.container:hover {
  background-color: #2e374a;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.number {
  font-size: 1.5rem;
  font-weight: 500;
}

.detail {
  font-size: 0.875rem;
  font-weight: 300;
}

.positive {
  color: lime;
}

.negative {
  color: red;
}
