.container {
  background-color: var(--bgSoft);
  padding: 1.25rem;
  border-radius: 0.625rem;
  margin-top: 1.25rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input,
.form textarea,
.form select {
  padding: 1.875rem;
  background-color: var(--bg);
  color: var(--text);
  border-radius: 0.3125rem;
  margin-bottom: 1.875rem;
  border: 0.125rem solid #2e374a;
}

.form input,
.form select {
  width: 45%;
}

.form textarea {
  width: 100%;
}

.form button {
  width: 100%;
  padding: 1.875rem;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}
