.container {
  display: flex;
  gap: 3.125rem;
  margin-top: 1.25rem;
}

.infoContainer {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 1.25rem;
  border-radius: 0.625rem;
  font-weight: bold;
  color: var(--textSoft);
  height: max-content;
}

.formContainer {
  flex: 3;
  background-color: var(--bgSoft);
  padding: 1.25rem;
  border-radius: 0.625rem;
}

.imgContainer {
  width: 100%;
  height: 18.75rem;
  position: relative;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea,
.form select {
  padding: 1.25rem;
  border: 0.125rem solid #2e374a;
  border-radius: 0.3125rem;
  background-color: var(--bg);
  color: var(--text);
  margin: 0.625rem 0rem;
}

.form label {
  font-size: 0.75rem;
}

.form button {
  width: 100%;
  padding: 1.25rem;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin-top: 1.25rem;
}
