.container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: #2e374a;
  padding: 0.625rem;
  border-radius: 0.625rem;
  width: max-content;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: none;
}
